<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
   <title>Sebastian Jordan Montaño</title>
   <meta name="description" content="personal portafolio of Sebastian Jordan Montano">
   <meta name="author" content="Sebastian Jordan Montaño">

   <!-- Mobile Specific Metas
   ================================================== -->
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

   <!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="../static/css/default.css">
   <link rel="stylesheet" href="../static/css/layout.css">
   <link rel="stylesheet" href="../static/css/media-queries.css">
   <link rel="stylesheet" href="../static/css/magnific-popup.css">

   <!-- Script
   ================================================== -->
   <script src="../static/js/modernizr.js"></script>

   <!-- Favicons
	================================================== -->
   <link rel="shortcut icon" href="../static/favicon.png">

</head>

<body>

   <!-- Header
   ================================================== -->
   <header id="home">

      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
         <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

         <ul id="nav" class="nav">
            <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
            <li><a class="smoothscroll" href="#about">About</a></li>
            <li><a class="smoothscroll" href="#resume">Resume</a></li>
            <li><a class="smoothscroll" href="#publications">Publications</a></li>
            <li><a class="smoothscroll" href="#portfolio">Works</a></li>
            <li><a class="smoothscroll" href="#contact">Contact</a></li>
         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

      <div class="row banner">
         <div class="banner-text">
            <h1 class="responsive-headline">Sebastian Jordan Montaño</h1>
            <h2 class="responsive-headline" style="color:#fff">Software engineer</h2>
            <!-- <h3>
               <a class="smoothscroll" href="#about">start scrolling</a>
               and learn more <a class="smoothscroll" href="#about">about me</a>.
            </h3> -->
            <hr />
            <ul class="social">
               <li><a href="https://github.com/jordanmontt" target="_blank"><i class="fa fa-github"></i></a></li>
               <li><a href="https://twitter.com/jordanmontt" target="_blank"><i class="fa fa-twitter"></i></a></li>
               <li><a href="https://www.linkedin.com/in/jordanmontt" target="_blank"><i class="fa fa-linkedin"></i></a>
               </li>
            </ul>
         </div>
      </div>

      <p class="scrolldown">
         <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
      </p>

   </header> <!-- Header End -->


   <!-- About Section
   ================================================== -->
   <section id="about">

      <div class="row">

         <div class="three columns">

            <img class="profile-pic" src="../static/images/profilepic.jpg" alt="" />

         </div>

         <div class="nine columns main-col">

            <h2>About Me</h2>

            <p>I am a software engineer that currently works as a research engineer at <span>
                  <a href="https://www.inria.fr/en/centre-inria-lille-nord-europe" target="_blank">INRIA -
                     Lille</a></span>
               (National Institut or Research in Science and Technology, France, Lille).

            </p>
            <p>Currently, I started on working on Profilers for object oriented languages to later work on the Pharo
               Virtual Machine.</p>
            <p>
               I was the main developer for one year of the <span><a href="https://github.com/pharo-ai/"
                     target="_blank"> Pharo AI
                     project</a></span>
               contributing and building different libraries for machine learning algorithms, statistical metrics,
               data preprocessing, and AI in general.
               <br>
               In INRIA, I also worked for 5 months as a <span><a href="https://github.com/moosetechnology">Moose
                     engineer</a></span>
               mostly developing tools for
               <span><a href="https://github.com/moosetechnology/MooseIDE" target="_blank">Moose IDE project.</a></span>
            </p>
            <p>
               I work in different open source projects since 2020. I have 1 year of experience working for
               web developing companies.
            </p>

            <div class="row">

               <div class="columns contact-details">

                  <h2>Contact Details</h2>
                  <p class="address">
                     <span>Sebastian Jordan Montaño</span>
                     <br><span>sebastian.jordan@inria.fr</span><br>
                  </p>

               </div>

               <!-- <div class="columns download">
                  <p>
                     <a href="#" class="button"><i class="fa fa-download"></i>Download Resume</a>
                  </p>
               </div> -->

            </div> <!-- end row -->

         </div> <!-- end .main-col -->

      </div>

   </section> <!-- About Section End-->


   <!-- Resume Section
   ================================================== -->
   <section id="resume">

      <!-- Education
      ----------------------------------------------- -->
      <div class="row education">

         <div class="three columns header-col">
            <h1><span>Education</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3>Université de Lille - Faculté des Sciences et Technologies <a
                        href="https://sciences-technologies.univ-lille.fr/">Univ-Lille</a>
                  </h3>
                  <p class="info">Master Degree in Software Engineering<span>&bull;</span> <em class="date">September
                        2020
                        - July 2023</em></p>
               </div>

               <div class="twelve columns">

                  <h3>Catholic Bolivian University – Cochabamba Regional <a href="https://cba.ucb.edu.bo/">(UCB)</a>
                  </h3>
                  <p class="info">Bachelor degree in Computer Science <span>&bull;</span> <em class="date">February 2016
                        - January 2020</em></p>

                  <p>
                     Graduated with a mention of academic excellence
                  </p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div>
      <!-- End Education -->


      <!-- Work Experience
      ----------------------------------------------- -->
      <section id="work">
         <div class="row work">

            <div class="three columns header-col">
               <h1><span>Work Experience</span></h1>
            </div>

            <div class="nine columns main-col">

               <div class="row item">

                  <div class="twelve columns">

                     <h3><a href="https://www.inria.fr/en/centre-inria-lille-nord-europe">INRIA</a>, France</h3>
                     <p class="info">Research Engineer <span>&bull;</span> <em class="date">May 2020 - Present</em></p>

                     <p>Currently, I started on working on Profilers for object oriented languages to later work on the
                        Pharo Virtual Machine.</p>
                     <p>
                        I work for one year as the main developer of the <span><a href="https://github.com/pharo-ai/"
                              target="_blank"> Pharo AI
                              project</a></span>
                        contributing and building different libraries for machine learning algorithms, statistical
                        metrics,
                        data preprocessing, and AI in general.
                        <br>
                        Also, I worked for some months as a <span><a href="https://github.com/moosetechnology">Moose
                              engineer</a></span>
                        mostly developing tools for
                        <span><a href="https://github.com/moosetechnology/MooseIDE" target="_blank">Moose IDE
                              project.</a></span>
                     </p>

                  </div>

               </div> <!-- item end -->

               <div class="row item">

                  <div class="twelve columns">

                     <h3><a href="https://www.inria.fr/en/centre-inria-lille-nord-europe">INRIA</a>, France</h3>
                     <p class="info">Virtual Internship <span>&bull;</span> <em class="date">Oct 2019 - Dec 2020</em>
                     </p>

                     <p>
                        Built a set of modular tools that allows to do complex searches and code transformations using
                        the
                        refactoring engine in Pharo.Built a set of modular tools that allows to do complex searches and
                        code transformations using the refactoring engine in Pharo.
                     </p>

                  </div>

               </div> <!-- item end -->

               <div class="row item">

                  <div class="twelve columns">

                     <h3><a href="https://www.assuresoft.com/">AssureSoft</a>, Bolivia</h3>
                     <p class="info">Internship <span>&bull;</span> <em class="date">July 2019 – October 2019</em></p>

                     <p>
                        Software Development Training Program, given for non-graduate or
                        non-experienced engineers. Consists of learning new technologies and
                        acquiring new knowledge, in order to have the exigency level that the
                        company demands.
                     </p>

                  </div>

               </div> <!-- item end -->

               <div class="row item">

                  <div class="twelve columns">

                     <h3><a href="http://www2.aitbol.com/aitbol/">AITBOL</a>, Bolivia</h3>
                     <p class="info">Junior Software Developer <span>&bull;</span> <em class="date">November 2017 – June
                           2018</em></p>
                     <p>
                        Worked as a Junior Software Developer developing web applications for telecommunications
                        companies
                        using different web technologies.Worked as a Junior Software Developer developing web
                        applications
                        for telecommunications companies using different web technologies.
                     </p>

                  </div>

               </div> <!-- item end -->

            </div> <!-- main-col end -->

         </div>
      </section> <!-- End Work Experience-->


      <!-- Teaching Experience
      ----------------------------------------------- -->
      <section id="work">
         <div class="row work">

            <div class="three columns header-col">
               <h1><span>Teaching</span></h1>
            </div>

            <div class="nine columns main-col">

               <div class="row item">
                  <div class="twelve columns">
                     <h4>Professor Assistant, <a href="https://cba.ucb.edu.bo/">Universidad Católica Boliviana - Cochabamba</a></h4>
                     <p>Data Structures and Algorithms. 38 Academic hours.</p>
                  </div>
               </div> <!-- item end -->

               <div class="row item">
                  <div class="twelve columns">
                     <h4>Professor Assistant, <a href="https://cba.ucb.edu.bo/">Universidad Católica Boliviana - Cochabamba</a></h4>     
                     <p>Introduction to Programming</p>
                  </div>
               </div> <!-- item end -->

               <div class="row item">
                  <div class="twelve columns">
                     <h4>Professor Assistant, <a href="https://cba.ucb.edu.bo/">Universidad Católica Boliviana - Cochabamba</a></h4>     
                     <p>Calculus I, Calculus II, Differential Equations, Bases of Mathematics. 64 Academic hours.</p>
                  </div>
               </div> <!-- item end -->

            </div> <!-- main-col end -->

         </div>
      </section> <!-- End Teaching Experience-->


 <!-- Education awards
      ----------------------------------------------- -->
      <div class="row education">

         <div class="three columns header-col">
            <h1><span>Awards</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <ul class="disc">
                  <li>2022 – Second best scientific publication, ESUG 200 Novi Sad.</li>
                  <li>2019 – Academic excellence scholarship, UCB, Bolivia.</li>
                  <li>2019 – Second place, internal programming contest, UCB,
                     Bolivia.</li>
                  <li>2017 – Participant, AMC-ICPC, South America Regional, Bolivia.</li>
                  <li>2017 – Winner, internal programming contest, UCB, Bolivia.</li>
                  <li> 2016 – Second place, internal programming contest, UCB,
                     Bolivia.</li>
               </ul>

            </div>

         </div> <!-- item end -->

      </div> <!-- main-col end -->

      </div>

      <!-- End Education awards -->


      <!-- Spoken Languages
      ----------------------------------------------- -->

      <div class="row education">

         <div class="three columns header-col">
            <h1><span>Spoken Languages</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <ul class="disc">
                  <li><b>Spanish</b> - Native</li>
                  <li><b>English</b> - Fluent, C1 level </li>
                  <li><b>French</b> - Fluent, C1 level </li>
               </ul>

            </div>


         </div> <!-- item end -->

      </div> <!-- main-col end -->

      </div> <!-- End Spoken Languages -->

   </section> <!-- Resume Section End-->


   <!-- Publications Section
   ================================================== -->
   <section id="publications">
      <!-- Publications
      ----------------------------------------------- -->
      <div class="row skill">

         <div class="three columns header-col">
            <h1><span>Publications</span></h1>
         </div>

         <div class="nine columns main-col">


            <div class="row item">

               <h3>Books and Booklets</h3>

               <ul class="disc">
                  <li>
                     <b>Pharo Graps booklet - Primary author </b>
                     <br>
                     A booklet in which the most common graph algorithms are explained along with some case studies
                     where these algorithms can be applied in real world problems.
                     These algorithms are available in the <a href="https://github.com/pharo-ai/graph-algorithms"
                        target="_blank">Pharo AI graph-algorithms library.</a>
                     In the booklet the algorithms are described and implemented.
                     <br>
                     <a href="https://github.com/SquareBracketAssociates/Booklet-PharoGraphs/releases/download/latest/PharoGraphs.pdf"
                        target="_blank">Download it</a>
                  </li>
                  <li>
                     <b>Building applications for Spec book - Coauthor</b>
                     <br>
                     How to build applications using the Spec2 framework. <a
                        href="https://github.com/pharo-spec/Spec/blob/Pharo10/spec2.md" target="_blank"></a> Spec2,
                     or
                     simply Spec, is a Pharo framwork for building applications and user interfaces.
                     <br>
                     <a href="https://github.com/SquareBracketAssociates/BuildingApplicationWithSpec2/releases/download/latest/Spec2-wip.pdf"
                        target="_blank"> <span>Download it</span></a>
                  </li>

               </ul>


               <h3>Scientific Publications</h3>

               <ul class="disc">
                  <li>
                     <a href="https://hal.archives-ouvertes.fr/hal-03768601v2/document" target="_blank">How Fast is
                        AI in Pharo? Benchmarking Linear Regression</a>
                  </li>
               </ul>


               <h3>Blog posts</h3>

               <ul class="disc">

                  <li>
                     <a href="https://thepharo.dev/2022/07/13/custom-transmissions-in-the-inspector/"
                        target="_blank">Custom transmissions
                        in the Pharo Inspector</a>
                     <br>
                     Custom transforming objets when transmitting them inside the Pharo Inspector.
                  </li>

                  <li>
                     <a href="https://thepharo.dev/2021/10/25/using-styles-in-spec-applications/" target="_blank">Using
                        styles in Spec applications</a>
                     <br>
                     Using custom styles in <a href="https://github.com/pharo-spec/Spec/blob/Pharo10/spec2.md"
                        target="_blank">Spec</a> applications.
                  </li>

                  <li>
                     <a href="https://thepharo.dev/2021/10/17/binding-an-external-library-into-pharo/"
                        target="_blank">Binding an external library into Pharo</a>
                     <br>
                     Binding the Fortran library: <a href="https://www.netlib.org/lapack/" target="_blank">LAPACK</a>
                     for doing linear algebra computations into Pharo.
                  </li>

                  <li>
                     <a href="https://thepharo.dev/2021/10/08/dynamic-layouts-with-spec2/" target="_blank">Dynamic
                        layouts with Spec2</a>
                     <br>
                     Using dynamic layouts in the <a href="https://github.com/pharo-spec/Spec/blob/Pharo10/spec2.md"
                        target="_blank">Spec framework</a>.
                  </li>

                  <li>
                     <a href="https://modularmoose.org/2021/05/04/how-to-build-a-new-moose-tool.html" target="_blank">
                        How to build a new Moose tool: The MooseInspector</a>
                     <br>
                     Extending the Pharo inspector to create a new inspector for <a
                        href="https://github.com/moosetechnology" target="_blank">Moose technology</a>.
                  </li>

                  <li>
                     <a href="https://modularmoose.org/2021/10/10/the-new-queries-browser.html"
                        target="_blank">Introducing
                        the new Queries Browser</a>
                     <br>
                     A blog post about a new tool developed for <a href="https://github.com/moosetechnology"
                        target="_blank">Moose technology</a>.
                  </li>

               </ul>

            </div>

         </div> <!-- main-col end -->

      </div> <!-- End Publications -->
   </section>


   <!-- Portfolio Section
   ================================================== -->
   <section id="portfolio">

      <div class="row">

         <div class="twelve columns collapsed">

            <h1>Projects</h1>

            <div class="nine columns main-col">
               <div class="row item">

                  <h3>Personal projects</h3>

                  <ul class="disc">
                     <li>
                        <a href="https://github.com/jordanmontt/RewriteToolsSet#readme" target="_blank">Rewrite Tools
                           Set</a>
                        <br>
                        A set of tools that allows to do complex searches and code transformations using the refactoring
                        engine in Pharo. Besides of allowing to do the code rewrites using, this set of tools also
                        provide
                        an API for making the code transformations in a
                        programmatically way.
                     </li>

                     <li>
                        <a href="https://github.com/jordanmontt/ray-tracing" target="_blank">Ray tracing algorithm</a>
                        <br>
                        An implementation of the ray tracing algorithm in C++
                     </li>

                     <li>
                        <a href="https://github.com/jordanmontt/generador-de-boletas" target="_blank"> Paychecks
                           generator</a>
                        <br>
                        A project developed in the University for making an application using Clean Architecture, Design
                        Patterns and Clean Code.
                        Is a prototype system that allows to generate Paychecks for the employees of a company according
                        to
                        several conditions that the user can specify.
                     </li>

                     <li>
                        <a href="https://github.com/jordanmontt/dots-and-boxes-ruby" target="_blank"> Dots and Boxes in
                           Ruby</a>
                        <br>
                        An implementation of the game Dots and Boxes in Ruby using Design Patterns and Clean Code.
                     </li>
                  </ul>

                  <h3>Work projects</h3>

                  <ul class="disc">


                  </ul>

               </div>
            </div>


         </div> <!-- twelve columns end -->

      </div> <!-- row End -->

   </section> <!-- Portfolio Section End-->


   <!-- Contact Section
   ================================================== -->
   <section id="contact">

      <div class="row banner">
         <div class="banner-text">
            <h1><span>Contact me</span></h1>

         </div>
         <!-- <h2>Contact me</h2> -->
         <p>
            Sebastian Jordan Montaño
            <br>
            <span>sebastian.jordan@inria.fr</span>
         </p>
      </div>

      <div class="row">
         <div class="twelve columns custom-section-footer">
            <ul class="social-links">
               <li><a href="https://github.com/jordanmontt" target="_blank"><i class="fa fa-github"></i></a></li>
               <li><a href="https://twitter.com/jordanmontt" target="_blank"><i class="fa fa-twitter"></i></a></li>
               <li><a href="https://www.linkedin.com/in/jordanmontt" target="_blank"><i class="fa fa-linkedin"></i></a>
               </li>
            </ul>
         </div>
      </div>

   </section> <!-- Contact Section End-->


   <!-- footer
   ================================================== -->
   <footer>

      <div class="row">

         <div class="twelve columns">

            <ul class="copyright">
               <li>&copy; Copyright 2014 CeeVee</li>
               <li>Design by <a href="http://www.styleshout.com/" title="Styleshout" target="_blank">Styleshout</a></li>
            </ul>

         </div>

         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a>
         </div>

      </div>

   </footer> <!-- Footer End-->

   <!-- Java Script
   ================================================== -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="../static/js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="../static/js/jquery-migrate-1.2.1.min.js"></script>

   <script src="../static/js/jquery.flexslider.js"></script>
   <script src="../static/js/waypoints.js"></script>
   <script src="../static/js/jquery.fittext.js"></script>
   <script src="../static/js/magnific-popup.js"></script>
   <script src="../static/js/init.js"></script>

</body>

</html>