<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
   <title>Sebastian Jordan Montaño</title>
   <meta name="description" content="personal portafolio of Sebastian Jordan Montano">
   <meta name="author" content="Sebastian Jordan Montaño">

   <!-- Mobile Specific Metas
   ================================================== -->
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

   <!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="../static/css/default.css">
   <link rel="stylesheet" href="../static/css/layout.css">
   <link rel="stylesheet" href="../static/css/media-queries.css">
   <link rel="stylesheet" href="../static/css/magnific-popup.css">

   <!-- Script
   ================================================== -->
   <script src="../static/js/modernizr.js"></script>

   <!-- Favicons
	================================================== -->
   <link rel="shortcut icon" href="../static/favicon.png">

</head>

<body>

   <!-- Header
   ================================================== -->
   <header id="home">

      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
         <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

         <ul id="nav" class="nav">
            <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
            <li><a class="smoothscroll" href="#about">About</a></li>
            <li><a class="smoothscroll" href="#resume">Resume</a></li>
            <li><a class="smoothscroll" href="#publications">Publications</a></li>
            <li><a class="smoothscroll" href="#portfolio">Works</a></li>
            <li><a class="smoothscroll" href="#contact">Contact</a></li>
         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

      <div class="row banner">
         <div class="banner-text">
            <h1 class="responsive-headline">Sebastian Jordan Montaño</h1>
            <h2 class="responsive-headline" style="color:#fff">Software engineer</h2>
            <!-- <h3>
               <a class="smoothscroll" href="#about">start scrolling</a>
               and learn more <a class="smoothscroll" href="#about">about me</a>.
            </h3> -->
            <hr />
            <ul class="social">
               <li><a href="https://github.com/jordanmontt" target="_blank"><i class="fa fa-github"></i></a></li>
               <li><a href="https://twitter.com/jordanmontt" target="_blank"><i class="fa fa-twitter"></i></a></li>
               <li><a href="https://www.linkedin.com/in/jordanmontt" target="_blank"><i class="fa fa-linkedin"></i></a>
               </li>
            </ul>
         </div>
      </div>

      <p class="scrolldown">
         <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
      </p>

   </header> <!-- Header End -->


   <!-- About Section
   ================================================== -->
   <section id="about">

      <div class="row">

         <div class="three columns">

            <img class="profile-pic" src="../static/images/profilepic.jpg" alt="" />

         </div>

         <div class="nine columns main-col">

            <h2>About Me</h2>

            <p>I am a software engineer that currently works as a research engineer at <span>
                  <a href="https://www.inria.fr/en/centre-inria-lille-nord-europe" target="_blank">INRIA -
                     Lille</a></span>
               (National Institut or Research in Science and Technology, France, Lille).

            </p>
            <p>
               Currently, I work on the <span><a href="https://github.com/pharo-ai/" target="_blank"> Pharo AI
                     project</a></span>
               contributing and building different libraries for machine learning algorithms, statistical metrics,
               data preprocessing, and AI in general.
               <br>
               In INRIA, I also worked for 5 months as a <span><a href="https://github.com/moosetechnology">Moose
                     engineer</a></span>
               mostly developing tools for
               <span><a href="https://github.com/moosetechnology/MooseIDE" target="_blank">Moose IDE project.</a></span>
            </p>
            <p>
               I have 2 years of experience developing open source projects and 1 year of experience working for
               web developing companies.
            </p>

            <div class="row">

               <div class="columns contact-details">

                  <h2>Contact Details</h2>
                  <p class="address">
                     <span>Sebastian Jordan Montaño</span>
                     <br><span>sebastian.jordan@inria.fr</span><br>
                  </p>

               </div>

               <!-- <div class="columns download">
                  <p>
                     <a href="#" class="button"><i class="fa fa-download"></i>Download Resume</a>
                  </p>
               </div> -->

            </div> <!-- end row -->

         </div> <!-- end .main-col -->

      </div>

   </section> <!-- About Section End-->


   <!-- Resume Section
   ================================================== -->
   <section id="resume">

      <!-- Education
      ----------------------------------------------- -->
      <div class="row education">

         <div class="three columns header-col">
            <h1><span>Education</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3>Catholic Bolivian University – Cochabamba Regional <a href="https://cba.ucb.edu.bo/">(UCB)</a>
                  </h3>
                  <p class="info">Bachelor degree in Computer Science <span>&bull;</span> <em class="date">February 2016
                        - January 2020</em></p>

                  <p>
                     Graduated with a mention of academic excellence
                  </p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Education -->

      <!-- Education awards
      ----------------------------------------------- -->
      <div class="row education">

         <div class="three columns header-col">
            <h1><span>Awards</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <ul class="disc">
                  <li>2019 – Academic excellence scholarship, UCB, Bollivia.</li>
                  <li>2019 – Second place, internal programming contest, UCB,
                     Bolivia.</li>
                  <li>2017 – Participant, AMC-ICPC, South America Regional, Bolivia.</li>
                  <li>2017 – Winner, internal programming contest, UCB, Bolivia.</li>
                  <li> 2016 – Second place, internal programming contest, UCB,
                     Bolivia.</li>
               </ul>

            </div>

         </div> <!-- item end -->

      </div> <!-- main-col end -->

      </div> <!-- End Education awards -->



      <!-- Work
      ----------------------------------------------- -->
      <div class="row work">

         <div class="three columns header-col">
            <h1><span>Work</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3><a href="https://www.inria.fr/en/centre-inria-lille-nord-europe">INRIA</a>, France</h3>
                  <p class="info">Research Engineer <span>&bull;</span> <em class="date">May 2020 - Present</em></p>

                  <p>
                     I work on the <span><a href="https://github.com/pharo-ai/" target="_blank"> Pharo AI
                           project</a></span>
                     contributing and building different libraries for machine learning algorithms, statistical metrics,
                     data preprocessing, and AI in general.
                     <br>
                     Also, I worked for some months as a <span><a href="https://github.com/moosetechnology">Moose
                           engineer</a></span>
                     mostly developing tools for
                     <span><a href="https://github.com/moosetechnology/MooseIDE" target="_blank">Moose IDE
                           project.</a></span>
                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3><a href="https://www.inria.fr/en/centre-inria-lille-nord-europe">INRIA</a>, France</h3>
                  <p class="info">Virtual Internship <span>&bull;</span> <em class="date">Oct 2019 - Dec 2020</em></p>

                  <p>
                     Built a set of modular tools that allows to do complex searches and code transformations using the
                     refactoring engine in Pharo.Built a set of modular tools that allows to do complex searches and
                     code transformations using the refactoring engine in Pharo.
                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3><a href="https://www.assuresoft.com/">AssureSoft</a>, Bolivia</h3>
                  <p class="info">Internship <span>&bull;</span> <em class="date">July 2019 – October 2019</em></p>

                  <p>
                     Software Development Training Program, given for non-graduate or
                     non-experienced engineers. Consists of learning new technologies and
                     acquiring new knowledge, in order to have the exigency level that the
                     company demands.
                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3><a href="http://www2.aitbol.com/aitbol/">AITBOL</a>, Bolivia</h3>
                  <p class="info">Junior Software Developer <span>&bull;</span> <em class="date">November 2017 – June
                        2018</em></p>
                  <p>
                     Worked as a Junior Software Developer developing web applications for telecommunications companies
                     using different web technologies.Worked as a Junior Software Developer developing web applications
                     for telecommunications companies using different web technologies.
                  </p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Work -->

      <!-- Languages spoken
      ----------------------------------------------- -->
      <div class="row education">

         <div class="three columns header-col">
            <h1><span>Languages spoken</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <ul class="disc">
                  <li><b>Spanish</b> - Native</li>
                  <li><b>English</b> - Fluent, C1 level
                  </li>
                  <li><b>French</b> - B1/B2 level </li>
               </ul>


            </div>


         </div> <!-- item end -->

      </div> <!-- main-col end -->

      </div> <!-- End Languages spoken -->

   </section> <!-- Resume Section End-->

   <!-- Publications Section
   ================================================== -->
   <section id="publications">
      <!-- Publications
      ----------------------------------------------- -->
      <div class="row skill">

         <div class="three columns header-col">
            <h1><span>Publications</span></h1>
         </div>

         <div class="nine columns main-col">

            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
               rem aperiam,
               eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
               enim ipsam
               voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
               ratione
               voluptatem sequi nesciunt.
            </p>



         </div> <!-- main-col end -->

      </div> <!-- End Publications -->
   </section>


   <!-- Portfolio Section
   ================================================== -->
   <section id="portfolio">

      <div class="row">

         <div class="twelve columns collapsed">

            <h1>Check Out Some of My Works.</h1>

            <!-- portfolio-wrapper -->
            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-01" title="">
                        <img alt="" src="../static/images/portfolio/coffee.jpg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
                              <h5>Coffee</h5>
                              <p>Illustrration</p>
                           </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
               </div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-02" title="">
                        <img alt="" src="../static/images/portfolio/console.jpg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
                              <h5>Console</h5>
                              <p>Web Development</p>
                           </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
               </div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-03" title="">
                        <img alt="" src="../static/images/portfolio/judah.jpg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
                              <h5>Judah</h5>
                              <p>Webdesign</p>
                           </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
               </div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-04" title="">
                        <img alt="" src="../static/images/portfolio/into-the-light.jpg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
                              <h5>Into The Light</h5>
                              <p>Photography</p>
                           </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
               </div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-05" title="">
                        <img alt="" src="../static/images/portfolio/farmerboy.jpg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
                              <h5>Farmer Boy</h5>
                              <p>Branding</p>
                           </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
               </div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-06" title="">
                        <img alt="" src="../static/images/portfolio/girl.jpg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
                              <h5>Girl</h5>
                              <p>Photography</p>
                           </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
               </div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-07" title="">
                        <img alt="" src="../static/images/portfolio/origami.jpg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
                              <h5>Origami</h5>
                              <p>Illustrration</p>
                           </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
               </div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-08" title="">
                        <img alt="" src="../static/images/portfolio/retrocam.jpg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
                              <h5>Retrocam</h5>
                              <p>Web Development</p>
                           </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
               </div> <!-- item end -->

            </div> <!-- portfolio-wrapper end -->

         </div> <!-- twelve columns end -->


         <!-- Modal Popup
	      --------------------------------------------------------------- -->

         <div id="modal-01" class="popup-modal mfp-hide">

            <img class="scale-with-grid" src="../static/images/portfolio/modals/m-coffee.jpg" alt="" />

            <div class="description-box">
               <h4>Coffee Cup</h4>
               <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi
                  elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories"><i class="fa fa-tag"></i>Branding, Webdesign</span>
            </div>

            <div class="link-box">
               <a href="http://www.behance.net" target="_blank">Details</a>
               <a class="popup-modal-dismiss">Close</a>
            </div>

         </div><!-- modal-01 End -->

         <div id="modal-02" class="popup-modal mfp-hide">

            <img class="scale-with-grid" src="../static/images/portfolio/modals/m-console.jpg" alt="" />

            <div class="description-box">
               <h4>Console</h4>
               <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi
                  elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories"><i class="fa fa-tag"></i>Branding, Web Development</span>
            </div>

            <div class="link-box">
               <a href="http://www.behance.net" target="_blank">Details</a>
               <a class="popup-modal-dismiss">Close</a>
            </div>

         </div><!-- modal-02 End -->

         <div id="modal-03" class="popup-modal mfp-hide">

            <img class="scale-with-grid" src="../static/images/portfolio/modals/m-judah.jpg" alt="" />

            <div class="description-box">
               <h4>Judah</h4>
               <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi
                  elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories"><i class="fa fa-tag"></i>Branding</span>
            </div>

            <div class="link-box">
               <a href="http://www.behance.net" target="_blank">Details</a>
               <a class="popup-modal-dismiss">Close</a>
            </div>

         </div><!-- modal-03 End -->

         <div id="modal-04" class="popup-modal mfp-hide">

            <img class="scale-with-grid" src="../static/images/portfolio/modals/m-intothelight.jpg" alt="" />

            <div class="description-box">
               <h4>Into the Light</h4>
               <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi
                  elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories"><i class="fa fa-tag"></i>Photography</span>
            </div>

            <div class="link-box">
               <a href="http://www.behance.net" target="_blank">Details</a>
               <a class="popup-modal-dismiss">Close</a>
            </div>

         </div><!-- modal-04 End -->

         <div id="modal-05" class="popup-modal mfp-hide">

            <img class="scale-with-grid" src="../static/images/portfolio/modals/m-farmerboy.jpg" alt="" />

            <div class="description-box">
               <h4>Farmer Boy</h4>
               <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi
                  elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories"><i class="fa fa-tag"></i>Branding, Webdesign</span>
            </div>

            <div class="link-box">
               <a href="http://www.behance.net" target="_blank">Details</a>
               <a class="popup-modal-dismiss">Close</a>
            </div>

         </div><!-- modal-05 End -->

         <div id="modal-06" class="popup-modal mfp-hide">

            <img class="scale-with-grid" src="../static/images/portfolio/modals/m-girl.jpg" alt="" />

            <div class="description-box">
               <h4>Girl</h4>
               <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi
                  elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories"><i class="fa fa-tag"></i>Photography</span>
            </div>

            <div class="link-box">
               <a href="http://www.behance.net" target="_blank">Details</a>
               <a class="popup-modal-dismiss">Close</a>
            </div>

         </div><!-- modal-06 End -->

         <div id="modal-07" class="popup-modal mfp-hide">

            <img class="scale-with-grid" src="../static/images/portfolio/modals/m-origami.jpg" alt="" />

            <div class="description-box">
               <h4>Origami</h4>
               <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi
                  elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories"><i class="fa fa-tag"></i>Branding, Illustration</span>
            </div>

            <div class="link-box">
               <a href="http://www.behance.net" target="_blank">Details</a>
               <a class="popup-modal-dismiss">Close</a>
            </div>

         </div><!-- modal-07 End -->

         <div id="modal-08" class="popup-modal mfp-hide">

            <img class="scale-with-grid" src="../static/images/portfolio/modals/m-retrocam.jpg" alt="" />

            <div class="description-box">
               <h4>Retrocam</h4>
               <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi
                  elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories"><i class="fa fa-tag"></i>Webdesign, Photography</span>
            </div>

            <div class="link-box">
               <a href="http://www.behance.net" target="_blank">Details</a>
               <a class="popup-modal-dismiss">Close</a>
            </div>

         </div><!-- modal-01 End -->


      </div> <!-- row End -->

   </section> <!-- Portfolio Section End-->


   <!-- Contact Section
   ================================================== -->
   <section id="contact">

      <div class="row banner">
         <div class="banner-text">
            <h1><span>Contact me</span></h1>

         </div>
         <!-- <h2>Contact me</h2> -->
         <p>
            Sebastian Jordan Montaño
            <br>
            <span>sebastian.jordan@inria.fr</span>
         </p>
      </div>

      <div class="row">
         <div class="twelve columns custom-section-footer">
            <ul class="social-links">
               <li><a href="https://github.com/jordanmontt" target="_blank"><i class="fa fa-github"></i></a></li>
               <li><a href="https://twitter.com/jordanmontt" target="_blank"><i class="fa fa-twitter"></i></a></li>
               <li><a href="https://www.linkedin.com/in/jordanmontt" target="_blank"><i class="fa fa-linkedin"></i></a>
               </li>
            </ul>
         </div>
      </div>

   </section> <!-- Contact Section End-->


   <!-- footer
   ================================================== -->
   <footer>

      <div class="row">

         <div class="twelve columns">

            <ul class="copyright">
               <li>&copy; Copyright 2014 CeeVee</li>
               <li>Design by <a href="http://www.styleshout.com/" title="Styleshout" target="_blank">Styleshout</a></li>
            </ul>

         </div>

         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a>
         </div>

      </div>

   </footer> <!-- Footer End-->

   <!-- Java Script
   ================================================== -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="../static/js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="../static/js/jquery-migrate-1.2.1.min.js"></script>

   <script src="../static/js/jquery.flexslider.js"></script>
   <script src="../static/js/waypoints.js"></script>
   <script src="../static/js/jquery.fittext.js"></script>
   <script src="../static/js/magnific-popup.js"></script>
   <script src="../static/js/init.js"></script>

</body>

</html>